
<div class="left">
    <div class="item">
    <span class="glyphicon glyphicon-align-left"></span>
    </div>
    <div class="item">
        <span class="glyphicon glyphicon-option-horizontal"></span>
           General</div>
    <a href=""  routerLink="/home"><div class="item">
    <span class="glyphicon"><img  routerLink="/home" class="img_resp" src="assets/images/history.svg"/></span>
       History</div></a>
    <div class="item">
    <span class="glyphicon"><img  class="img_resp"   src="assets/images/profile.svg"/></span>
        Profile<i (click)="myDropFunc()" class="fa fa-caret-down" style="margin-left:25px;"></i>
       
      </div>
       <div id="demoDrop" class="w3-dropdown-content w3-bar-block w3-white w3-card">
          <a href="#" routerLink="/yourprofile" class="w3-bar-item w3-button"> - Edit Profile</a>
          <a href="#" routerLink="/payment" class="w3-bar-item w3-button"> - Change Payment</a>
          <a href="#" routerLink="/changepassword" class="w3-bar-item w3-button"> - Change Password</a>

        </div> 
    <div class="item" >
    <span class="glyphicon glyphicon-option-horizontal "></span>
       Support</div> 
    <a href=""  routerLink="/support"></a><div class="item">
    <span class="glyphicon"><img class="img_resp" src="assets/images/support.svg"/></span>
        FAQ</div>
  
  </div> 
<div class="header" id="main" style="background:#fff !important;">
    
    <div class="row">
      <div class="col-md-4">
          <h2 style="color:#132149;font-size:32px;font-weight:bold;margin-left:17px;font-family:odudo;text-transform: lowercase;">Shokuni</h2>
        
      </div>
      

      <div class="dropdown col-md-8">
          <!--  -->
          <div class="row" style="float:right;">
        <div class="col-md-4">
            <img  src="assets/images/event.png" style="margin:27px;
            width: 20px;
            border-radius: 50%;
            float: right; 
            height: 22px;">
         </div>
        <div class="col-md-4">
           <p><img (click)="myFunction()" class="dropbtn" src="assets/images/background.png" style="margin:20px;
        width: 34px;
        border-radius: 50%;
        float: right;
        height: 34px;"></p>
       </div>
       <div id="myDropdown" class="dropdown-content" style="margin-top: 70px;">
          <a href="" routerLink="/login">Sign out</a>
          <!-- <a href="#about">About</a>
          <a href="#contact">Contact</a> -->
     </div>
      </div>
       <!--  -->
          
           
 </div>

      
  </div>
    
      
  </div>
<div class="bak" style="background:#f0f1f6;width: 90%;
margin: 0 auto;">
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    loadingText="Loading..."
    type="ball-fussion">
  </ngx-spinner>
  <br>
  <div class="sub-header">
      <h4 style="text-align: left;
      margin-left: 70px;font-weight:bold;margin-top:-8px;
      font-size: 18px;">Edit Profile</h4>
  </div>
  
    <div class="row">
  
        <div class="form-group required col-md-12 ">
          <div class="container-fluid">
            <div class="card card-block card_list">
              <p class="p_tag">Your Profile</p>
            <div class="errorMessage" *ngIf="invalidcred">Invalid Login Details</div>
          <form *ngIf="login_form" [formGroup]="login_form" (submit)="submitLogin(login_form)" class="bak form-horizontal" novalidate>
              
              
                <!-- login form HTML -->
                 <ul class="list-group list-group-flush text-left">
                  <li class="list-group-item"> 
                    <!-- get name of donor -->
                    <div class="form-row" style="padding-left: 25px;">
                      <div class="form-group required col-md-12">
                       <label for="amount" class="col_pss col-form-label col-form-label-sm">First Name: <span class="aster"> *</span></label> 
                        <input type="text" formControlName="fname" class="inpt_bx form-control form-control-sm" placeholder="{{data?.first_name}}" autocomplete="off" maxlength="255" required />
                      </div>
                      <hr>
                      </div>
                      <div class="form-row" style="padding-left: 25px;">
                      <div class="form-group required col-md-12">
                       <label for="password" class="col_pss col-form-label col-form-label-sm">Last Name: <span class="aster"> *</span></label> 
                        <input type="text" formControlName="lname" class="inpt_bx form-control form-control-sm" placeholder="{{data?.last_name}}" autocomplete="off" maxlength="255" required />
                      </div>
                    </div>
                    <div class="form-row" style="padding-left:25px;">
                        <div class="form-group required col-md-12">
                        <label for="password" class="col_pss col-form-label col-form-label-sm">Email: <span class="aster"> *</span></label> 
                          <input type="text" formControlName="email" class="inpt_bx form-control form-control-sm" placeholder="{{data?.email}}" autocomplete="off" maxlength="255" required />
                        </div>
                      </div>
                      <p style="color:#fec152;font-size:9px;">Your email has not yet been verified: <a style="color:#132149;font-weight:400;">Resend Verification</a></p>


                      <div class="form-row" style="padding-left:21px;">
                        <div class="form-group required col-md-12">
                        <label for="password" class="col_pss col-form-label col-form-label-sm">Country: <span class="aster"> *</span></label> <br>
                        <select class="inpt_bx form-control form-control-sm" formControlName="country" style="height:37px;border: 1px solid #cccccc;">
                          <option *ngFor="let summary of countries" value={{summary.id}}>
                                {{summary.name}}
                            </option>
                        </select> 
                       
                        </div>
                      </div>
                    

                        <div class="form-row" style="padding-left: 25px;">
                            <div class="form-group required col-md-12">
                              <div class="row" style="padding-left:16px;">
                                  <div class="form-group required col-md-2">
                                      <label for="password" class="col_pss col-form-label col-form-label-sm">Profile Photo:</label><br>

                                      <img [src]="imgsrc"  width="125px;" style="margin:0px;
                                      padding-left:0px;">
                                    
                                  
                                    </div>
                                  <div class="form-group required col-md-10"  style="padding-left:40px;    padding-top: 52px;">
                                   
                                      <p style="color:#b1c3e5;font-size:9px;font-weight:bold;">Uplaod New Profile Picture</p><span class="btn btn-primary upload_btn" style="
                                      height: 31px;
                                      font-size: 11px;
                                      font-weight: 400;">  Upload 
                                      <input type="file" (change)="onFileChange($event)" style="margin-bottom:26px;">
                                      </span>
                                    
                                  </div>

                              </div>
                           
                            </div>
                          
                          </div>

                        <div class="form-row" style="padding-left:25px;">
                            <div class="form-group required col-md-12">
                            <label for="password" class="col_pss col-form-label col-form-label-sm">Mobile Number: <span class="aster"> *</span></label> 
                              <input type="tel" formControlName="number" class="inpt_bx form-control form-control-sm" placeholder="(+44)798466132" autocomplete="off" maxlength="25" required />
                            </div>
                          </div>
                          <p style="color:#fec152;font-size:9px;">Your mobile has not yet been verified: <a style="color:#132149;font-weight:400;">Resend Verification</a></p>

                     </li>
                </ul> 
                <p style="color:#c2c2c2;font-size:11px;margin: 10px;"> <span class="aster"> *</span> Indicates Required</p>
                <div class="">
                    <div class="row">
                      <div class="col-md-12">
                          <button class="save_btn">Save</button>
                          <button [disabled]="!login_form.valid" class="cancl_butn">Cancel

                            </button>
                      </div>
                    
                    </div>
                    
                  </div>
                <!-- submit button -->
               
              </form>
            </div>
            
            </div>
          
          </div>
          
          <div class="card card-block card_list" style="width:95%;margin-top:100px !important;margin:0 auto;">
              <p class="p_tag">Request Data</p>
              <ul class="list-group list-group-flush text-left">
                  <li class="list-group-item">
                    <p style="font-size:11px;color:rgb(170,170,170);font-weight:700;">Download a CSV file containing all of the personal data that we store your profile</p> 
                    </li>
               </ul>
                    <div class="row">
                        <div class="col-md-12">
                            <button [disabled]="!login_form.valid" class="save_btn">Request                      </button>
                        </div>
                    </div>
                            
          </div>

          <div class="card card-block card_list" style="width:95%;margin:0 auto;margin-top:42px !important;">
              <p class="p_tag">Delete Account</p>
              <ul class="list-group list-group-flush text-left">
                 <li class="list-group-item">
                    <p style="font-size:11px;color:rgb(170,170,170);font-weight:700;">By deleting your account all associated data held by us will be deleted and your account will be terminated.You will no longer have access to the shokuni platform. If you wish you delete your account,<a href="" data-toggle="modal" data-target="#bootstrapModel" style="font-size:12px;color:#d49c9e;">click here</a></p> 
                 </li>
              </ul>
          </div>
         
       
            
    </div>
    
         <!-- Popups Start here -->
    <div id="bootstrapModel" class="modal fade" role="dialog">


        <div class="modal-dialog">
      
      
          <!-- Modal content-->
      
      
          <div class="modal-content">
      
      
            <div class="modal-header">
      
              <h4 class="modal-title" style="float:left;text-align: left;color:#52555b;font-size:12px;margin-top: 12px;">Delete Account</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
      
            </div>
      
      
      <!-- model body section -->
      
      
            <div class="modal-body">
      
      
              <p style="color:#52555b;font-size:12px;">Confirm that you’re sure you want to delete your account
                by entering ‘delete’ below</p>
                <input type="delete" placeholder="Type 'delete'" style="width: 100%;
                border: 1px solid #f5f6f8;height:25px;font-size:10px;padding-left:7px;"/>
      
            </div>
      
      
            <div class="modal-footer">
      
      
              <button type="button" class="btn btn-default close_btn" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-default modaldelte_btn" (click)="delete()"  data-dismiss="modal">Delete</button>
      
      
            </div>
      
      
          </div>
      
      
        </div>
      
      
      </div>
      <!-- Popups Ends here -->
    
  
  </div>