
 <div class="left">
    <div class="item">
    <span class="glyphicon glyphicon-align-left"></span>
    </div>
    <div class="item itm_left">
        <span class="glyphicon glyphicon-option-horizontal gen_ikn"></span>
           General</div>
    <a href="" routerLink="/home"><div class="item">
    <span class="glyphicon"><img routerLink="/home" class="img_resp" src="assets/images/history.svg"/></span>
       History</div></a>
    <div class="item">
    <span class="glyphicon"><img  class="img_resp"   src="assets/images/profile.svg"/></span>
        Profile<i (click)="myDropFunc()" class="fa fa-caret-down" style="margin-left:25px;"></i>
       
      </div>
       <div id="demoDrop" class="w3-dropdown-content w3-bar-block w3-white w3-card">
          <a href="#" routerLink="/yourprofile" class="w3-bar-item w3-button"> - Edit Profile</a>
          <a href="#" routerLink="/payment" class="w3-bar-item w3-button"> - Change Payment</a>
          <a href="#" routerLink="/changepassword" class="w3-bar-item w3-button"> - Change Password</a>

        </div> 
    <div class="item itm_left">
    <span class="glyphicon glyphicon-option-horizontal gen_ikn"></span>
       Support</div> 
    <a href=""  routerLink="/support"><div class="item">
    <span class="glyphicon"><img class="img_resp" src="assets/images/support.svg"/></span>
        FAQ</div></a>
  
  </div> 
  
<div class="header" id="main" style="background:#fff !important;">
    <div class="row">
      <div class="col-md-4">
          <h2 style="color:#132149;font-size:32px;font-weight:bold;margin-left:107px;font-family:odudo;text-transform: lowercase;">Shokuni</h2>
         <!-- <img class="col-md-6" src="assets/images/Shokuni-Logo_Black.png" style="margin:21px;padding-left:81px;
         width:203px;padding-top:12px;margin-left:50px;"> -->
      </div>
      <div class="dropdown col-md-8"> 
          <div class="row" style="float:right;">
              <div class="col-md-4">
                  <img  src="assets/images/event.png" style="margin:27px;
                  width: 20px;
                  border-radius: 50%;
                  float: right; 
                  height: 22px;">
               </div>
              <div class="col-md-4">
                 <p><img (click)="myFunction()" class="dropbtn" src="assets/images/background.png" style="margin:20px;
              width: 34px;
              border-radius: 50%;
              float: right;
              height: 34px;"></p>
             </div>
             <div id="myDropdown" class="dropdown-content" style="margin-top: 70px;">
                <a href="" routerLink="/login">Sign out</a>
                <!-- <a href="#about">About</a>
                <a href="#contact">Contact</a> -->
           </div>
            </div>
   </div>
      <!-- <div class="col-md-4">
        <p><img  src="assets/images/background.png" style="margin:20px;
          width: 34px;
          border-radius:50%;
          float: right;
          height: 34px;"><img  src="assets/images/event.png" style="margin: 27px;
          width: 20px;
          border-radius: 50%;
          float: right;
          height: 22px;"></p>
      </div> -->
        
    </div>
    
      
  </div>
<!-- <div class="header">
    <img src="assets/images/Shokuni-Logo_Black.png" width="95px;" style="margin:20px;
    padding-left: 4px;">
    
</div> -->
<div class="bak" style="background:#f0f1f6;">
    <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "large"
    color = "#fff"
    type = "ball-fussion"
    ></ngx-spinner>
                    
  <br>
  <div class="sub-header" >
      <h4 style="text-align: left;
      margin-left:187px;font-weight:bold;margin-top:-4px;
      font-size: 18px;font-family:odudo;">Password</h4>
  </div>
  
    <div class="row">
  
        <div class="form-group required col-md-12 ">
          <div class="container-fluid">
            <div class="card card-block card_list">
              <p class="p_tag">Change Password</p>
            <div class="errorMessage" *ngIf="invalidcred">Invalid Login Details</div>
          <form *ngIf="login_form" [formGroup]="login_form" (submit)="submitLogin(login_form)" class="bak form-horizontal" novalidate>
              
                <!-- login form HTML -->
                 <ul class="list-group list-group-flush text-left">
                  <li class="list-group-item"> 
                    <!-- get name of donor -->
                    <div class="form-row" style="padding-left:21px;">
                      <div class="form-group required col-md-12">
                       <label for="amount" class="col_pss col-form-label col-form-label-sm">Old Password: <span class="aster"> *</span></label> 
                        <input type="password"  formControlName="oldpasswrd" class="inpt_bx form-control form-control-sm" placeholder="" autocomplete="off" maxlength="20" required />
                      </div>
                      <hr>
                      </div>
                      <div class="form-row" style="padding-left:21px;">
                      <div class="form-group required col-md-12">
                       <label for="password" class="col_pss col-form-label col-form-label-sm">New Password: <span class="aster"> *</span></label> 
                        <input type="password" formControlName="newpassword" class="inpt_bx form-control form-control-sm" placeholder="" autocomplete="off" maxlength="20" required />
                      </div>
                    </div>
                    <div class="form-row" style="padding-left:21px;">
                        <div class="form-group required col-md-12">
                        <label for="password" class="col_pss col-form-label col-form-label-sm">Confirm New Password: <span class="aster"> *</span></label> 
                          <input type="password" formControlName="confrmpassword" class="inpt_bx form-control form-control-sm" placeholder="" autocomplete="off" maxlength="20" required />
                        </div>
                      </div>
                   <!--  <div class="form-row">
                        <div class="form-group required col-md-6">
                            <input type="checkbox" [checked]="false"  id ="remember" /><span class="rember_pswrd" >Remember</span>
                        </div>
                        <div class="form-group required col-md-6">
                        <a class="forgt_psswrd" href="" routerLink="/forgotpassword/:token">Forgot Password?</a>
                        </div>
                    </div> -->
                     </li>
                </ul> 
                <p style="color:#c2c2c2;font-size:11px;margin: 10px;"> <span class="aster"> *</span> Indicates Required</p>
                <div class="">
                    <div class="row">
                      <div class="col-md-12">
                          <button [disabled]="!login_form.valid" class="save_btn">Save</button>
                          <button class="cancl_butn">Cancel

                            </button>
                      </div>
                     <!--  <div class="col-md-6">
                          <button [disabled]="!login_form.valid" class="submit_btn_clear">Cancel

                            </button>
                      </div> -->
                    </div>
                    
                  </div>
                <!-- submit button -->
               
              </form>
            </div>
              <!-- <div class="sign_upp">
                <p>Don't have an account?<a class="anchor_tag" href="" routerLink="/dashboard">Sign Up</a></p>
                <!-- <a class="btn btn-link" routerLink="/dashboard">Dashboard</a> --
              </div> -->
            </div>
          </div>
         <!--  <div class="back_grnd form-group required col-md-8">
          <img class="contain_box" src="assets/images/bg.jpg"> 
            </div> -->
      
    </div>
    
  
  
  </div>