<div class="left">
  <div class="item">
  <span class="glyphicon glyphicon-align-left"></span>
  </div>
  <div class="item">
      <span class="glyphicon glyphicon-option-horizontal"></span>
         General</div>
  <div class="item" routerLink="/home">
  <span class="glyphicon"><img routerLink="/home" class="img_resp" src="assets/images/history.svg"/></span>
     History</div>
  <div class="item" (click)="myDropFunc()">
  <span class="glyphicon"><img  class="img_resp"   src="assets/images/profile.svg"/></span>
      Profile<i (click)="myDropFunc()" class="fa fa-caret-down" style="margin-left:25px;"></i>
     
    </div>
     <div id="demoDrop" class="w3-dropdown-content w3-bar-block w3-white w3-card">
        <a href="#" routerLink="/yourprofile" class="w3-bar-item w3-button"> - Edit Profile</a>
        <a href="#" routerLink="/payment" class="w3-bar-item w3-button"> - Change Payment</a>
        <a href="#" routerLink="/changepassword" class="w3-bar-item w3-button"> - Change Password</a>

      </div> 
  <div class="item">
  <span class="glyphicon glyphicon-option-horizontal"></span>
     Support</div> 
  <a href=""  routerLink="/support"><div class="item"  routerLink="/support">
  <span class="glyphicon"><img class="img_resp" src="assets/images/support.svg"/></span>
      FAQ</div></a>

</div> 
<div class="header" id="main" style="background:#fff !important;">
  <div class="row">
      <div class="col-md-4">
          <h2 style="color:#132149;font-size:32px;font-weight:bold;margin-left:107px;font-family:odudo;text-transform: lowercase;">Shokuni</h2>
        
      </div>
      

      <div class="dropdown col-md-8">
          <!--  -->
          <div class="row" style="float:right;">
        <div class="col-md-4">
            <img  src="assets/images/event.png" style="margin:27px;
            width: 20px;
            border-radius: 50%;
            float: right; 
            height: 22px;">
         </div>
        <div class="col-md-4">
           <p><img (click)="myFunction()" class="dropbtn" src="assets/images/background.png" style="margin:20px;
        width: 34px;
        border-radius: 50%;
        float: right;
        height: 34px;"></p>
       </div>
       <div id="myDropdown" class="dropdown-content" style="margin-top: 70px;">
          <a href="" routerLink="/login">Sign out</a>
          <!-- <a href="#about">About</a>
          <a href="#contact">Contact</a> -->
     </div>
      </div>
       <!--  -->
          
           
 </div>

   <!--  <div class="col-md-4">
      <p><img  src="assets/images/background.png" style="margin:20px;
        width: 34px;
        border-radius: 50%;
        float: right;
        height: 34px;"><img  src="assets/images/event.png" style="margin: 27px;
        width: 20px;
        border-radius: 50%;
        float: right;
        height: 22px;"></p>
    </div> -->
      
     
      
  </div>
  
    
</div>
<div class="bak" style="background:#f0f1f6;height:140vh;">
    <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "large"
    color = "#fff"
    type = "ball-fussion"
    ></ngx-spinner>

    <h4 style="text-align: left;
    margin-left:186px;
    font-size:18px;
    font-weight:bold;
    padding-top:6px;font-family:odudo;">Support</h4>
  <div class="row">
  
  <div class="card card-block card_list">
    <p class="p_tag">FAQ Example</p>
    <div class="container">
    <div class="col-md-4">
      
      <button class="btn">Buttons</button>
      <a href="" class="anc_tagg"><span>Google Maps</span></a>
      <a class="anc_tagg"><span>Datatables</span> <i (click)="datatables('Demo1')" class="fa fa-caret-down" style="margin-left:25px;"></i></a>
      <div id="Demo1" class="w3-hide">
        <ul>
          <li>
              <a class="w3-button w3-block w3-left-align" href="#">UI Fatures</a>
            
             
          </li>
          <li>  <a class="w3-button w3-block w3-left-align" href="#">Configuration</a></li>
          <li> <a class="w3-button w3-block w3-left-align" href="#">Menu Options</a></li>
        </ul>
         
        </div>
   
             <a href="" class="anc_tagg"><span>Theme Configuration</span></a>
             <a class="anc_tagg"><span>Top Menu</span> <i (click)="topmenu('Demo2')" class="fa fa-caret-down" style="margin-left:25px;"></i></a>
             <div id="Demo2" class="w3-hide">
               
                      <a class="w3-button w3-block w3-left-align" href="#"> - New</a>
                  
                  <a class="w3-button w3-block w3-left-align" href="#"> - Pending</a>
                   <a class="w3-button w3-block w3-left-align" href="#"> - Replied</a>
                
                 
                </div>

            
                   <a href="" class="anc_tagg"><span>Sidebar Menu</span></a>
                   <a href="" class="anc_tagg"><span>Horizontal Menu</span></a>
                   <a href="" class="anc_tagg"><span>GULP Tasks</span></a>
                   <a href="" class="anc_tagg"><span>Coding & Extending</span></a>
                   <a href="" class="anc_tagg"><span>References</span></a>
    </div>
    <div class="col-md-8">
      <p style="color:#3b3a40;">General Instruction</p>
   
       
          <div (click)="myFunction('Demo1')">
            <input  class="inpt_fst" type="text" placeholder="Loreum ispum has the industry" disabled><span class="glyphicon glyphicon-plus ikon_sze" (click)="myFunction('Demo1')"></span>
          </div>
          <div id="Demo1" class="w3-hide w3-container inpt_fst">
              <input class="inpt_fst" type="text" placeholder="Loreum ispum has the industry" disabled><!-- <span class="glyphicon glyphicon-plus ikon_sze"></span> -->
          </div>
     
    
          <div (click)="myFunction('Demo1')">
            <input class="inpt_fst" type="text" placeholder="Loreum ispum has the industry" disabled><span class="glyphicon glyphicon-plus ikon_sze"></span>
          </div>
          <div id="Demo1" class="w3-hide w3-container inpt_fst">
              <input class="inpt_fst" type="text" placeholder="Loreum ispum has the industry" disabled><!-- <span class="glyphicon glyphicon-plus ikon_sze"></span> -->
          </div>
     
          <div (click)="myFunction('Demo1')">
            <input class="inpt_fst" type="text" placeholder="Loreum ispum has the industry" disabled><span class="glyphicon glyphicon-plus ikon_sze"></span>
          </div>
          <div id="Demo1" class="w3-hide w3-container inpt_fst">
              <input class="inpt_fst" type="text" placeholder="Loreum ispum has the industry" disabled><!-- <span class="glyphicon glyphicon-plus ikon_sze"></span> -->
          </div>
     </div> 
    </div>
  </div>
  </div>
  <br>
  <div class="row">
  
      <div class="card card-block card_list">

        <div class="header">
          <p class="p_tag">Submit A Ticket</p>
          <hr>
        </div>
       
        <div class="container">
        <div class="col-md-6">
          <h5 style="color:#3b3a40;font-weight:bold;text-align:left;font-size:12px;">Need Extra Help?</h5>
          <p style="color:#a6a6a8;font-weight:700;text-align:left;font-size:9px;">Lorem ipsum dolorsitamet,consecteturadipiscingelit.Doneciaculis
              risusfacilisistellussodalesefficitur.Quisquetemporvelfelisquisefficitur.Maurisfaucibuscursusenim
              efficitursollicitudin.Pellentesquenon turpisconsequat,aliquam tellusut,ullamcorpervelit.Aliquam vehicula
              felisturpis,nechendreritexportavitae.</p>
        </div>
        <div class="col-md-6">
            <form *ngIf="login_form" [formGroup]="login_form" (submit)="submitLogin(login_form)" class="bak form-horizontal" novalidate>
              
               
                    <div class="form-row" style="padding-left:21px;">
                      <div class="form-group required col-md-12">
                       <label for="amount" class="col_pss col-form-label col-form-label-sm">Issue Type</label> 
                       <select class="inpt_bx form-control form-control-sm" formControlName="country" style="    height: 26px;
                       border: 1px solid #cccccc;
                       width: 71% !important;
                       font-size: 9px;">
                          <option value="0">
                                Testing
                            </option>
                            <option value="1">
                                Testing1
                            </option>
                            <option value="2">
                                Testing2
                            </option>
                            <option value="3">
                                Testing3
                            </option>
                            <option value="4">
                                Testing4
                            </option>
                            <option value="5">
                                Testing5
                            </option>

                        </select> 
                      </div>
                      <hr>
                      </div>
                      <div class="form-row" style="padding-left:21px;">
                      <div class="form-group required col-md-6">
                       <label for="password" class="col_pss col-form-label col-form-label-sm">Detailed Description</label> 
                       <textarea type="text" formControlName="newpassword" style="height: 92px;
                       border: 1px solid #cccccc;
                       width: 144% !important;"></textarea>
               
                      </div>
                    </div>
                    <div class="form-row" style="padding-left:21px;">
                        <div class="form-group required col-md-12">
                        <label for="password" class="col_pss col-form-label col-form-label-sm">File Browser</label> 
                          <input type="file" class="file"  formControlName="confrmpassword" required />
                        </div>
                      </div>
                 
                    
                
                <div class="">
                    <div class="row">
                      <div class="col-md-12">
                          <button [disabled]="!login_form.valid" class="save_btn">Submit</button>
                         
                      </div>
                     <!--  <div class="col-md-6">
                          <button [disabled]="!login_form.valid" class="submit_btn_clear">Cancel

                            </button>
                      </div> -->
                    </div>
                    
                  </div>
                <!-- submit button -->
               
              </form>
         </div> 
        </div>
      </div>
      </div>
</div>