<!-- <div class="header">
    <div class="row">
      <div class="col-md-6">
          <img class="col-md-6" src="assets/images/Shokuni-Logo_Black.png" style="margin:20px;
          padding-left: 4px;width:116px;">
      </div>
  
      <div class="col-md-4">
        <p><img  src="assets/images/background.png" style="margin:20px;
          width: 34px;
          border-radius: 50%;
          float: right;
          height: 34px;"><img  src="assets/images/event.png" style="margin: 27px;
          width: 20px;
          border-radius: 50%;
          float: right;
          height: 22px;"></p>
      </div>
        
       
        
    </div>
    
      
  </div> -->
<div class="bak container-fluid">
 
  <div class="bak row">

      <div class="bak form-group required col-md-4">
        <div class="bak">
          <div class="img_length">
              <h2 style="color:#132149;font-size:47px;font-weight:bold;margin-left:17px;font-family:odudo;text-transform: lowercase;">Shokuni</h2>
              <!-- <img class="image_resp" src="assets/images/Shokuni-Logo_Black.png"> -->
          </div>
          <div class="text_wrd">
            <p>Forgot Password</p>
          </div>
        <form *ngIf="login_form" [formGroup]="login_form" (submit)="submitLogin(login_form)" class="bak form_grp form-horizontal" novalidate>

              <!-- login form HTML -->
               <ul class="bak list-group list-group-flush text-left">
                <li class="bak list-group-item"  style="padding-left: 60px;
                padding-right: 68px;"> 
                  <!-- get name of donor -->
                  <div class="bak form-row">
                    <div class="bak form-group required col-md-12 email_btn">
                     <!--  <label for="amount" class="col-form-label col-form-label-sm">Email/Username</label> -->
                      <input type="text"  formControlName="email" class="bak email_txt form-control form-control-sm" placeholder="Email Address" autocomplete="off" maxlength="255" required />
                    </div>
                    
                    </div>
                    <div flex-layout>
                      <p class="p_tag">We'll send instruction on how to reset your password to your email address that is registered with Shokuni</p>
                    </div>
                       
                    

                  <div class="submit_btn">
                    <button [disabled]="!login_form.valid" class="btn  forgotsubmit_btn">Reset Password

                    </button>
                  </div>
                  
                </li>
              </ul> 
        
              <!-- submit button -->
             
            </form>
            <div class="sign_upp">
              <p>Don't have an account?<a class="anchor_tag" href="" routerLink="/dashboard">Sign Up</a></p>
              <!-- <a class="btn btn-link" routerLink="/dashboard">Dashboard</a> -->
            </div>
          </div>
        </div>
        <div class="back_grnd col-md-8" style="background-image: url('assets/images/bg.jpg');height: 100vh;">
        <!--  <img class="contain_box" src="assets/images/bg.jpg">  -->
          </div>
    
  </div>
  


</div>