<div class="container-fluid">
 
  <div class="row">

      <div class="form-group required col-md-4">
        <div class="">
          <div class="img_length">
              <h2 style="color:#132149;font-size:50px;font-weight:bold;">Shokuni</h2>
             <!--  <img class="image_resp" src="assets/images/Shokuni-Logo_Black.png"> -->
          </div>
          <div class="text_wrd">
            <p>Signup</p>
          </div>
          <div class="errorMessage" *ngIf="invalidcred">Invalid Details</div>

        <form *ngIf="login_form" [formGroup]="login_form" (submit)="submitLogin(login_form)" class="form-horizontal" novalidate>

              <!-- login form HTML -->
               <ul class="list-group list-group-flush text-left">
                <li class="list-group-item"> 
                  <!-- get name of donor -->
                  <div class="form-row" style="padding-left:65px;
                  padding-right:28px;">
                    <div class="form-group required col-md-12 email_btm">
                     <!--  <label for="amount" class="col-form-label col-form-label-sm">Email/Username</label> -->
                      <input type="text"  formControlName="fname" class="email_txt form-control form-control-sm" placeholder="First Name" autocomplete="on" maxlength="25" required />
                    </div>
                    
                    </div>
                    <div class="form-row" style="padding-left: 65px;
                    padding-right: 28px;">
                      <div class="form-group required col-md-12 email_btm">
                       <!--  <label for="amount" class="col-form-label col-form-label-sm">Email/Username</label> -->
                        <input type="text"  formControlName="lname" class="email_txt form-control form-control-sm" placeholder="Last Name" autocomplete="on" maxlength="25" required />
                      </div>
                      
                      </div>

                      <div class="form-row" style="padding-left: 65px;
                      padding-right: 28px;">
                        <div class="form-group required col-md-12 email_btm">
                         <!--  <label for="amount" class="col-form-label col-form-label-sm">Email/Username</label> -->
                          <input type="tel"  formControlName="mobnumber" class="email_txt form-control form-control-sm" placeholder="Mobile Number" autocomplete="off" maxlength="13" pattern="[0-9]*" required />
                        </div>
                        
                      </div>

                  <div class="form-row" style="padding-left: 65px;
                  padding-right: 28px;">
                    <div class="form-group required col-md-12 email_btm">
                     <!--  <label for="amount" class="col-form-label col-form-label-sm">Email/Username</label> -->
                      <input type="text"  formControlName="email" class="email_txt form-control form-control-sm" placeholder="Email" autocomplete="off" maxlength="255" required />
                    </div>
                    
                  </div>

                    <div class="form-row" style="padding-left: 65px;
                    padding-right: 28px;">
                    <div class="form-group required col-md-12 email_btm">
                     <!--  <label for="password" class="col-form-label col-form-label-sm">Password</label> -->
                      <input type="password" formControlName="password" class="email_txt form-control form-control-sm" placeholder="Password" autocomplete="off" maxlength="20" required />
                    </div>
                  </div>
               

                  <div class="submit_btn">
                    <button [disabled]="!login_form.valid" class="btn  submit_btn">Sign Up

                    </button>
                  </div>
                  
                </li>
              </ul> 
        
              <!-- submit button -->
             
            </form>
           
          </div>
        </div>
        <div class="back_grnd required col-md-8" style="background-image: url('assets/images/bg.jpg');height: 100vh;">
           
         </div>
    
  </div>
  


</div>